/node_modules
/public/hot
/public/build
/public/storage
/storage/*.key
/storage/pail
/vendor
/.idea
/.vagrant
/.fleet
/.vscode
/.nova
/.zed
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store
public/mix-manifest.json
public/js/app.js
auth.json
.phpunit.result.cache.vapor/
.env
.env.backup
.env.production
.env.staging
.env.testing
.phpunit.result.cache.env.help
.phpunit.result.cache
/.phpunit.cache
coverage/
*.log
.phpactor.json
Homestead.json
Homestead.yaml
Thumbs.db
