/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
/.fleet
/.vscode
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.DS_Store
public/mix-manifest.json
public/js/app.js
auth.json
.phpunit.result.cache.vapor/
.env.backup
.env.production
.env.staging
.env.testing
.phpunit.result.cache.env.help
.phpunit.result.cache