@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);/* custom css goes here */

.text-black {
  color: black !important;
}

.simcal-default-calendar-grid .simcal-events {
  font-size: 1em;
}

.simcal-event-title {
  font-size: 1.25em;
}

.text-dark-green {
  color: #009012;
}

.text-red {
  color: #9b1f1f;
}

.text-purple {
  color: #6400b7;
}

.text-dark-blue {
  color: #0d0087;
}

.text-orange {
  color: #d68b00;
}

.text-gray {
  color: #515151;
}

.text-light-blue {
  color: #008299;
}

.text-pink {
  color: #e856ff;
}

#page\#1 .uk-grid {
  background-size: contain;
  padding: 70px 5px;
}

.f-24 {
  font-size: 24px !important;
}

@media (min-width: 768px) {
  .uk-description-list-horizontal {
    overflow: hidden;
  }

  .uk-description-list-horizontal > dt {
    width: 12em;
    float: left;
    clear: both;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .uk-description-list-horizontal > dd {
    margin-left: 12em;
  }
}

@media (max-width: 768px) {
  dt {
    padding-top: 10px;
  }
}

